In [1]:
import spacy
import re

#### No. of vocabulary spacy has

In [2]:
nlp = spacy.load('en_core_web_sm')

In [3]:
L = list(nlp.vocab.strings)

In [4]:
len(L)

84780

In [5]:
import numpy as np
import pandas as pd
from collections import Counter

In [6]:
data = pd.read_csv('./yelp_train.csv')

In [7]:
data.head()

   class_index                                        review_text
0            1  Unfortunately, the frustration of being Dr. Go...
1            2  Been going to Dr. Goldberg for over 10 years. ...
2            1  I don't know what Dr. Goldberg was like before...
3            1  I'm writing this review to give you a heads up...
4            2  All the food is great here. But the best thing...

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560000 entries, 0 to 559999
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   class_index  560000 non-null  int64
 1   review_text  560000 non-null  object
dtypes: int64(1), object(1)
memory usage: 8.5+ MB

In [9]:
vocab = {}